.ng-hide{
	display: none;
}
.ngw-clearfix{
	clear: both;
}
.ngw-row{
	border-radius: 10px;
	box-shadow: 5px 10px 30px 0px #e2e2e2;
	padding: 10px;
	clear: both;
}
.ngw-col{
	float: left;
}
.ngw-container.rain{
	background: url("../img/rain.jpg");
	background-size: 100%;
	color: #FFF;
}
.ngw-container.Clear, .ngw-container.Sun{
	background-image: url("../img/sun.jpg");
	background-size: 100%;
	color: #FFF;
}
.ngw-container.Clouds{
	background: url("../img/clouds.jpg");
	background-size: 100%;
	color: #FFF;
}
.ngw-container:before {
    display: table;
    content: " ";
}
.ngw-spinner{
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	z-index: 5;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
.ngw-spinner > img {
	top: 50%;
	left: 50%;
	margin: -16px;
	position: absolute;
	z-index: 10;
}
.ngw-icon, .ngw-temp{
	text-align: right;
}
.ngw-icon > i {
	font-size: 70px;
}
.ngw-temp > span{
	font-size: 30px;
	font-weight: bold;
}
.ngw-location > span {
	font-size: 15px;
}