<div class="ngw-settings" ng-show="showSettings">
    <div class="ngw-settings-opacity"></div>
    <div class="ngw-settings-content">
        <span class="ngw-close" ng-click="showSettings=false"></span>
        <form ng-submit="setLocation()">
            <label for="newCity" ng-bind="newLocationLabel"></label>
            <br />
            <input id="newCity" class="input ngw-input" type="text" ng-model="newCity" placeholder="Es. New York" />
            <br />
            <select class="ngw-select" ng-model="unit" ng-options="u as u.symbol for u in units" />
            <label for="ngw-submit" class="ngw-confirm"></label>
            <button id="ngw-submit" type="submit" class="ng-hide"></button>
        </form>
    </div>
</div>