<div class="ngw-container ngw-row {{weather}}" ngw-spinner="isLoading">
    <div ng-if="!isError">
        <div class="ngw-col">
            <div class="ngw-icon"><i class="owf owf-{{weatherCode}}" title="{{weather}}"></i></div>
        </div>
        <div class="ngw-col">
            <div class="ngw-temp"><span ng-bind="temperature || '-'"></span>&nbsp;<span ng-bind="unit"></span></div>
            <div class="ngw-location">
                <i class="glyphicon glyphicon-pushpin" aria-label="Location"></i><span ng-bind="city"></span>
            </div>
            <div class="ngw-updatedAt">
                <span ng-bind="updatedAtText"></span>
                <br />
                <span ng-bind="updatedAtDate"></span>
            </div>
        </div>
    </div>
    <div class="ngw-col" ng-if="isError">
        <span ng-bind="errorMessage"></span>
    </div>
    <div class="ngw-buttons">
        <span class="glyphicon glyphicon glyphicon-wrench ngw-wrench" ng-click="openSettings()"></span>
        <span class="glyphicon glyphicon-refresh ngw-reload" ng-click="reload()"></span>
    </div>
    <div class="ngw-clearfix">
    </div>
    <div class="ngw-settings" ng-show="showSettings">
        <div class="ngw-settings-opacity"></div>
        <div class="ngw-settings-content">
            <form ng-submit="setLocation()">
                <label for="newCity">Enter new city</label>
                <br />
                <input id="newCity" class="input ngw-input" type="text" ng-model="newCity"  autofocus=""/>
                <br />
                <button type="submit" class="btn" ng-disabled="!newCity">OK</button>
            </form>
        </div>
    </div>
</div>