<div class="ngw-container ngw-row {{weather}}" ng-class="{'Error': isError}" ngw-spinner="isLoading">
    <div ng-if="!isError">
        <div class="ngw-col">
            <div class="ngw-icon"><i class="owf owf-{{weatherCode}}" title="{{weather}}"></i></div>
        </div>
        <div class="ngw-col">
            <div class="ngw-temp"><span ng-bind="temperature || '-'"></span>&nbsp;<span ng-bind="unit.symbol"></span></div>
            <div class="ngw-location">
                <span class="ngw-pin" title="Location"></span><span ng-bind="city"></span>
            </div>
            <div class="ngw-updatedAt">
                <span ng-bind="updatedAtText"></span>
                <br />
                <span ng-bind="updatedAtDate"></span>
            </div>
        </div>
    </div>
    <div class="ngw-messagesbox" ng-if="isError">
        <span ng-bind="errorMessage"></span>
    </div>
    <div class="ngw-buttons" ng-hide="showSettings">
        <span class="ngw-wrench" ng-click="openSettings()"></span>
        <span class="ngw-reload" ng-click="reload()"></span>
    </div>
    <div class="ngw-clearfix">
    </div>
    <div class="ngw-settings" ng-show="showSettings">
        <div class="ngw-settings-opacity"></div>
        <div class="ngw-settings-content">
            <span class="ngw-close" ng-click="showSettings=false"></span>
            <form ng-submit="setLocation()">
                <label for="newCity" ng-bind="newLocationLabel"></label>
                <br />

                <input id="newCity" class="input ngw-input" type="text" ng-model="newCity" autofocus="" />
                <br />
                <select class="ngw-select" ng-model="unit" ng-options="u as u.symbol for u in units" />
                <label for="ngw-submit" class="ngw-confirm"></label>
                <button id="ngw-submit" type="submit" class="ng-hide"></button> <!--  ng-disabled="!newCity"-->
            </form>
        </div>
    </div>
</div>